/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
.tooltip-inner {
    background-color: #757c88;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #757c88 !important;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 90px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgba(0, 47, 255, 0.328);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
  }
  
  #myBtn:hover {
    background-color: rgba(0, 47, 255, 0.616);
  }