{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Chinese Name</th>
                <th class="text-start">Pin Yin</th>
                <th class="text-center">Amount(g)</th>
                <th class="text-center" colspan="3">Operation</th>
            </tr>
        </thead>
        <tbody>
            {% if rows %}
                {% for row in rows %}
                    <tr>
                        <td class="text-start">{{ row.Chinese_ch }}</td>
                        <td class="text-start">{{ row.pinyin }}</td>
                        <td class="text-center">{{ row.amount }}</td>
                        <form action="manage" method="post">
                          
                            <td class="text-start">
                                <div class="mb-3 ">                                   
                                    <input class="form-control w-50" id="quantity" name="quantity" placeholder="g" type="number" data-toggle="tooltip" data-placement="bottom" title="Use positive number to indicate ADD while negative number to indicate MINUS.">
                                </div>
                                <div class="mb-3">
                                    <input name="id" type="hidden" value="{{ row.id }}">
                                </div>
                            </td>
                            <td class="test-start">
                                <input class="btn btn-primary" type="submit" value="Change">
                            </td>

                        </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        <tfoot>
            
        </tfoot>
        </tbody>
    </table>
{% endblock %}
